*, *::before, *::after {
    box-sizing: border-box;
}

*:focus:not(:focus-visible) {
    outline: none;
}

html,
body {
    font-size: 62.5%;
}

body {
    background: url("../img/background.jpg");
}

.container {
    max-width: 113.5rem;
    margin: 0 auto;
}

.header {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 7.9rem;
    height: 2.8rem;
    margin-right: 3.9rem;
}

.header__nav a {
    text-decoration: none;
    color: #FFFFFF;
}

.header__nav a:not(:last-child) {
    margin-right: 2.4rem;
}

.header__socials-icon {
    text-decoration: none;
    width: 1.7rem;
    height: 1.6rem;
}

.header__socials-icon:not(:last-child) {
    margin-right: 2rem;
}

.footer {
    background-color: #030102;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    color: #FFFFFF;
    opacity: 0.4;
}

.footer__menu {
    padding-left: 0;
    display: flex;
}

.footer__menu li {
    list-style: none;
}

.footer__menu li a {
    color: #FFFFFF;
    opacity: 0.4;
    text-decoration: none;
}

.footer__menu li:not(:last-child) {
    margin-right: 2.5rem;
}
